<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#bde0ff" type = "ball-spin-clockwise-fade" [fullScreen] = "true"><p style="color: #bde0ff" > Loading... </p></ngx-spinner>
<div class="container my-4" style="text-align: center;">
  <mat-form-field>
    <mat-label>Select Country</mat-label>
    <mat-select [(value)]="selectedValue"> 
      <mat-option *ngFor="let name of names" [value]="name" (click)="func(name)">
        {{name}}
      </mat-option> 
    </mat-select>
  </mat-form-field>
</div>

<img src="https://www.worldometers.info/img/flags/small/tn_uk-flag.gif">
<p class="strip" style="font-weight: 500; color: #4c4e61;">Overall</p>
<div class="container">
  <div class="row">
    <div class="col-md box"  >
      <div class="section col2">
        <h2>Total Cases</h2>
        <div *ngIf="show" counto [step]="300" [countTo]="data.infected" [countFrom]="0" [duration]="3" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()">
          <p style="color: #007bff;">{{counto | addComma}}</p>
        </div>
        <p>Total number of people infected till date</p>
      </div>
    </div>
    <div class="col-md box" >
      <div class="section col3">
        <h2>Total Deaths</h2>
        <div *ngIf="show" counto [step]="300" [countTo]="data.deaths" [countFrom]="0" [duration]="3" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()">
          <p style="color: #dc3545;">{{counto | addComma}}</p>
        </div>
        <p>Total number of death caused till date</p>
      </div>
    </div>
    <div class="col-md box" >
      <div class="section col1">
        <h2>Total Recovered</h2>
        <div *ngIf="show" counto [step]="300" [countTo]="data.recovered" [countFrom]="0" [duration]="3" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()">
          <p style="color: #28a745;">{{counto | addComma}}</p>
        </div>
        <p>Total number of people recovered till date</p>
      </div>
    </div>
  </div>
</div>
